:root {
  --app-width: min(100%, 30rem);
  --label-width: 5rem;
}

.App {
  width: var(--app-width);
  text-align: center;
  margin: auto;
}
.form-element {
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;

  label {
    width: var(--label-width);
    text-align: right;
  }

  select,
  input {
    width: var(--app-width);
    padding: 0.5em 0.25em;
    border-radius: 0.25em;
  }
}

.result-table {
  display: flex;
  flex-direction: row;
  background-color: #f1e4e4;
  border: 2px solid #000000;
  text-align: left;

  .name-col {
    border-right: 2px solid #000000;
    width: 60%;
  }

  .location-col {
    width: 100%;
  }

  .header {
    background-color: #d3bebe;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}

.error-msg {
  color: red;
  margin: 0.25em 0;
  font-size: 0.75rem;
  text-align: left;
  margin-left: var(--label-width);
}

.button-ctn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

.button-button {
  padding: 0.5em 1em;
  font-weight: 600;
}

.item {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-top: 1px solid #939393;
}
